<!-- <form action="/guitars/create" method="post">
	<div>
		<label for="guitar_type">What type of Guitar is it?</label>
		<input type="text" name="guitar[guitar_type]" />
	</div>
	<div>
		<label for="guitar_manufacturer">Who makes it?</label>
		<input type="text" name="guitar[guitar_manufacturer]" />
	</div>
	<div>
		<label for="guitar_model">What model is it?</label>
		<input type="text" name="guitar[guitar_model]" />
	</div>
	<div>
		<label for="guitar_color">What color is it?</label>
		<input type="text" name="guitar[guitar_color]" />
	</div>
	<div>
		<label for="guitar_year">What year was it produced</label>
		<input type="text" name="guitar[guitar_year]" />
	</div>
	<div>
		<label for="guitar_num_strings">How many strings</label>
		<input type="text" name="guitar[guitar_num_strings]" />
	</div>
	<div>
		<label for="guitar_set_neck">Does it have a set neck</label>
		<select name="guitar[guitar_set_neck]"><option value="true">Yes</option><option value="false">No</option></select>
	</div>
	<div>
		<label for="guitar_pickups">How many pickups does it have</label>
		<input type="text" name="guitar[guitar_pickups]" />
	</div>
	<input type="submit" value="Add Guitar" />
</form> -->
<h2>New Guitar</h2>
<div class="offset-by-five four columns form-wrap">
	<%= render partial: "guitar_form", locals: {guitar: @guitar} %>
</div>