<h2>Welcome to the guitar ApP</h2>
<a href="/guitars"><div id="guitars" class="main-select offset-by-three four columns">
	<h2>Guitars</h2>
</div></a>
<a href="/amps"><div id="amps" class="main-select">
	<h2>Amps</h2>
</div></a>
<a href="/pedels"><div id="pedels" class="main-select">
	<h2>Pedals</h2>
</div></a>